{
  "db": {
    "name": "brio_test",
    "user": "postgres",
    "password": "",
    "host": "localhost"
  },
  "token": {
    "secret": "12345"
  },
  "sendgrid": {
    "apiKey": "SG.CHANGETHIS"
  },
  "emails": {
    "defaults": "example@example.com",
    "system": {
      "fromName": "brio-dev-from",
      "fromAddress": "example@example.com",
      "toName": "brio-dev-to",
      "toAddress": "example@example.com"
    }
  },
  "AWS": {
    "accessKeyId": "ABC-CHANGETHIS",
    "secretAccessKey": "123-CHANGETHIS"
  }
}
